body{
    padding: 0;
    margin: 0;
    background-color: rgb(245, 125, 112);
    background-image: url("./assets/pokedex_template.png");
    height: auto;
    width: auto;
    background-size: 735px, auto;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.poke-screen{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.previous-btn{
   display: flex;
   flex-direction: row;
   order: 1;

}